<form name="myForm" ng-controller="view1Controller as vm">
<div class="container">
    <h2>I am going to ask you two questions -- please choose wisely...</h2>
 <div>
    <h3>1. Are you a Knight, or a Wizard?</h3>
    <ul>
        <li ng-repeat="characterType in vm.characterTypes">
         <label>
          <input type="radio" 
          name="character"
          ng-model="vm.character.characterType" 
          value="{{characterType.id}}" required />
          {{characterType.value}}
          </label>        
          <div class="check"> </div>
          <div class="inside"> </div>
        </li>
    </ul>
  </div>
  <br><br><br><br><br><br><br><br><br> <!-- Temp fix --> 
 <div>
    <h3> 2. Are you a Good or Evil? <h3>
    <ul ng-repeat="personalityType in vm.personalityTypes"> 
        <li>
         <label>
           <input type="radio"
           name="character"
           ng-model="vm.character.personalityType"
           value="{{personalityType.id}}" required />
          {{personalityType.value}}
          </label>     
          <div class="check"></div>
          <div class="inside"></div>
        </li>
        <!-- Other gender names will -->
    </ul>
 </div>
    <br><br><br><br><br><br><br><br><br> <!-- Temp fix --> 
    <p>Character Type Selected: {{vm.character.characterType}} </p>
    <p>Personality Type Selected: {{vm.character.personalityType}}</p>
    <p>Job: {{vm.updateJob()}}</p>
    <p>Username: {{vm.character.username}}</p>
    <p>Assign Job: {{vm.assignJob()}}</p>  
    <p>charJob var = {{vm.character.jobtype}}</p>
   <div>
   <h3> What do you identify yourself as? </h3>
    <ul>
      <li>
        <label>
          <input type="radio" ng-model="vm.character.gender" value="Human" />
        Human
        </label>
        <div class="check"> </div>
        <div class="inside"> </div> 
      </li>
      <li>
        <label>
          <input type="radio" ng-model="vm.character.gender" value="Elf" />
        Elf
        </label>
       <div class="check"> </div>       
       <div class="inside"> </div>
    </li>
   <br><br><br><br><br><br><br><br><br><br> <!-- Temp fix --> 
    <input type="text"
      name="character"
      placeholder="What is your war name?"
      ng-model="vm.character.username" 
      ng-value="{{vm.character.username}}" required/>
      <br><br>
    <input type="submit"
      class="button-0"
      value="Submit"
      ng-value="{{vm.character.jobType}}"
      ng-click="vm.update()"
      ng-model="vm.character.jobType" required />
    <input type="reset"
      class="button-0"
      value="Reset"
      ng-click="vm.reset()" required />
</div>
<div>
    <p>Temporary Character Data: {{vm.character | json:4}}</p>
    <p>Master: {{vm.master | json:4}}</p>
</div>
</div>
</form>


        <!-- Other gender names will -->
        <!--<li>
        <label>
          <input type="radio" ng-model="vm.character.gender" value="Dragonnite" />
        Dragonnite
        </label>
       <div class="check"> </div>       
       <div class="inside"> </div>
    </li>
       <li>
        <label>
          <input type="radio" ng-model="vm.character.gender" value="Android" />
        Android
        </label>
       <div class="check"> </div>       
       <div class="inside"> </div>
    </li>
    </ul>
   <br><br><br><br><br><br><br><br><br><br> -->