<div>
  <h2>I am going to ask you two questions -- please choose wisely...</h2>
  <div>
    1. Are you a Knight, or a Wizard?
    <ul ng-repeat="characterType in characterTypes">
          <input type="button"  value="{{characterType.id}}"> {{characterType.value}} </input>  
    </ul>
  </div>
  <div>
    2. Are you a Good or Evil?
    <ul ng-repeat="personalityType in personalityTypes"> 
          <input type="button" 
          ng-value="{{personalityType.id}}"> {{personalityType.value}} </input>  
    </ul>
    <div>
    <p>Character Type: {{character.type}} </p>
    <p>Personality Type: {{character.personality}}</p>
    <p>job: </p>
    </div>
</div>